### PCA PARA CREDITOS BANCARIOS

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [4]:
#leer el dataset
df =pd.read_csv('bank.csv')

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [7]:
''' En la columna 'Gender' faltan 13 datos
En la columna 'Married' faltan 3 datos
En la columna 'Dependants' faltan 15 datos, y estan en object, hay que pasarlos a int
En la columna 'Self_Employed' faltan 32 datos
En la columna 'ApplicantIncome' hay que pasarlos a float
En la columna 'Credit_History' faltan 50 datos, y estan en float, hay que pasarlos a int
En la columna 'Loan_Amount' faltan 22 datos
En la columna 'Loan_Amount_Term' faltan 14 datos, y estan en object, hay que pasarlos a int
En la columna 'Credit_History' faltan 50 datos, y estan en float, hay que pasarlos a int
'''

" En la columna 'Gender' faltan 13 datos\nEn la columna 'Married' faltan 3 datos\nEn la columna 'Dependants' faltan 15 datos, y estan en object, hay que pasarlos a int\nEn la columna 'Self_Employed' faltan 32 datos\nEn la columna 'ApplicantIncome' hay que pasarlos a float\nEn la columna 'Credit_History' faltan 50 datos, y estan en float, hay que pasarlos a int\nEn la columna 'Loan_Amount' faltan 22 datos\nEn la columna 'Loan_Amount_Term' faltan 14 datos, y estan en object, hay que pasarlos a int\nEn la columna 'Credit_History' faltan 50 datos, y estan en float, hay que pasarlos a int\n"

In [8]:
# Identificar proporción de valores en la columna 'Gender' y rellenar valores faltantes
proporciones = df['Gender'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Gender':")
print(proporciones)

# Rellenar valores faltantes siguiendo la proporción
df['Gender'] = df['Gender'].fillna(pd.Series(np.random.choice(proporciones.index,p=proporciones.values,size=len(df))))

Proporciones de valores en 'Gender':
Gender
Male      0.813644
Female    0.186356
Name: proportion, dtype: float64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [10]:
proporciones = df['Married'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Gender':")
print(proporciones)

# Rellenar valores faltantes siguiendo la proporción
df['Married'] = df['Married'].fillna(pd.Series(np.random.choice(proporciones.index,p=proporciones.values,size=len(df))))

Proporciones de valores en 'Gender':
Married
Yes    0.651391
No     0.348609
Name: proportion, dtype: float64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [12]:
# Sustituir los valores '3+' de la columna 'Dependents' por el valor 4
df['Dependents'] = df['Dependents'].replace('3+', 4)

In [13]:
# Encontrar proporción de valores en la columna 'Dependents' y rellenar valores faltantes siguiendo esta proporcion
proporciones = df['Dependents'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Dependents':")
print(proporciones) 
# Rellenar valores faltantes siguiendo la proporción
df['Dependents'] = df['Dependents'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values, 
                                                              size=len(df))))

Proporciones de valores en 'Dependents':
Dependents
0    0.575960
1    0.170284
2    0.168614
4    0.085142
Name: proportion, dtype: float64

In [14]:
# Transformar los valores de la columna 'Dependents' a enteros
df['Dependents'] = df['Dependents'].astype(int)

In [15]:
# Encontrar la proporcion de valores en la columna 'Education' y rellenar valores faltantes con esta proporcion
proporciones = df['Education'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Education':")
print(proporciones) 
# Rellenar valores faltantes siguiendo la proporción
df['Education'] = df['Education'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values, 
                                                              size=len(df))))

Proporciones de valores en 'Education':
Education
Graduate        0.781759
Not Graduate    0.218241
Name: proportion, dtype: float64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    int64
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

In [17]:
# Encontrar proporcion de valores en la columna 'Self_Employed' y rellenar valores faltantes siguiendo esta proporcion
proporciones = df['Self_Employed'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Self_Employed':")
print(proporciones)
# Rellenar valores faltantes siguiendo la proporción
df['Self_Employed'] = df['Self_Employed'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values, 
                                                              size=len(df))))

Proporciones de valores en 'Self_Employed':
Self_Employed
No     0.859107
Yes    0.140893
Name: proportion, dtype: float64

In [18]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,4,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [19]:
# Transformar datos de 'CoapplicantIncome' a int
df['CoapplicantIncome'] = df['CoapplicantIncome'].astype(int)

In [20]:
# Encontrar el porcentaje de valores faltantes en la columna 'Loan Amount' print el porcentaje, y rellenar valores faltantes con la media
porcentaje_faltantes = df['LoanAmount'].isnull().mean() * 100
print(f"Porcentaje de valores faltantes en 'LoanAmount': {porcentaje_faltantes:.2f}%")
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mean()) 
# Tranformar datos de 'LoanAmount' a int
df['LoanAmount'] = df['LoanAmount'].astype(int)

Porcentaje de valores faltantes en 'LoanAmount': 3.58%

In [21]:
# Encontrar el porcentaje de valores faltantes en la columna 'Loan_Amount_Term', hacer print de este valor, rellenar valores faltantes con la media y transformar datos a int
porcentaje_faltantes = df['Loan_Amount_Term'].isnull().mean() * 100
print(f"Porcentaje de valores faltantes en 'Loan_Amount_Term': {porcentaje_faltantes:.2f}%")
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean()) 
# Transformar datos de 'Loan_Amount_Term' a int
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].astype(int)

Porcentaje de valores faltantes en 'Loan_Amount_Term': 2.28%

In [22]:
# Encontrar el numero y porcentaje de valores faltantes en la columna 'Credit_History', hacer print de estos valores, hallar la proporcion de los valores y rellenar los datos faltantes con esta proporcion, transformar datos de esta columna a int
num_faltantes = df['Credit_History'].isnull().sum()
porcentaje_faltantes = df['Credit_History'].isnull().mean() * 100
print(f"Número de valores faltantes en 'Credit_History': {num_faltantes}")
print(f"Porcentaje de valores faltantes en 'Credit_History': {porcentaje_faltantes:.2f}%")
proporciones = df['Credit_History'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Credit_History':")
print(proporciones)
# Rellenar valores faltantes siguiendo la proporción
df['Credit_History'] = df['Credit_History'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values,
                                                              size=len(df))))
# Transformar datos de 'Credit_History' a int
df['Credit_History'] = df['Credit_History'].astype('str')

Número de valores faltantes en 'Credit_History': 50
Porcentaje de valores faltantes en 'Credit_History': 8.14%
Proporciones de valores en 'Credit_History':
Credit_History
1.0    0.842199
0.0    0.157801
Name: proportion, dtype: float64

In [23]:
# Todos los valores de la columna 'Loan Amount' son miles, multiplicar cada valor por 1000
df['LoanAmount'] = df['LoanAmount'] * 1000

### Dataset completo y tipos de datos ajustados

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    int64
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int64
 8   LoanAmount         614 non-null    int64
 9   Loan_Amount_Term   614 non-null    int64
 10  Credit_History     614 non-null    object
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: int64(5), object(8)
memory usage: 62.5+ KB

In [25]:
df.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,146000,360,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128000,360,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66000,360,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120000,360,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141000,360,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267000,360,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95000,360,1.0,Urban,Y
7,LP001014,Male,Yes,4,Graduate,No,3036,2504,158000,360,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526,168000,360,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968,349000,360,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700,70000,360,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,Yes,2500,1840,109000,360,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106,200000,360,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840,114000,360,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086,17000,120,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0,125000,360,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0,100000,240,0.0,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0,76000,360,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0,133000,360,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,No,2600,3500,115000,342,1.0,Urban,Y

## Vamos ahora a convertir todas las variables categoricas a numericas de acuerdo con el siguiente diccionario:
1. Gender: 'Male" = 1, 'Female' = 0
2. Married : 'Yes' = 1, 'No' = 0
3. Education: 'Graduate' = 1, 'Not Graduate' = 0
4. Self_Employed: 'Yes' = 1, 'No' = 0
5. Property_Area: 'Urban' = 1, 'Rural' = 0
6. Loan_Status: 'Y' = 1, 'N' = 0

In [26]:

df['Gender'] = df['Gender'].map({'Male': '1', 'Female': '0'})
df['Married'] = df['Married'].map({'Yes': '1', 'No': '0'})
df['Education'] = df['Education'].map({'Graduate': '1', 'Not Graduate': '0'})
df['Self_Employed'] = df['Self_Employed'].map({'Yes': '1', 'No': '0'})
df['Property_Area'] = df['Property_Area'].map({'Urban': '1', 'Rural': '0'})
df['Loan_Status'] = df['Loan_Status'].map({'Y': '1', 'N': '0'})

In [27]:
df. head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,1,0,5849,0,146000,360,1.0,1,1
1,LP001003,1,1,1,1,0,4583,1508,128000,360,1.0,0,0
2,LP001005,1,1,0,1,1,3000,0,66000,360,1.0,1,1
3,LP001006,1,1,0,0,0,2583,2358,120000,360,1.0,1,1
4,LP001008,1,0,0,1,0,6000,0,141000,360,1.0,1,1
5,LP001011,1,1,2,1,1,5417,4196,267000,360,1.0,1,1
6,LP001013,1,1,0,0,0,2333,1516,95000,360,1.0,1,1
7,LP001014,1,1,4,1,0,3036,2504,158000,360,0.0,NaN,0
8,LP001018,1,1,2,1,0,4006,1526,168000,360,1.0,1,1
9,LP001020,1,1,1,1,0,12841,10968,349000,360,1.0,NaN,0
10,LP001024,1,1,2,1,0,3200,700,70000,360,1.0,1,1
11,LP001027,1,1,2,1,1,2500,1840,109000,360,1.0,1,1
12,LP001028,1,1,2,1,0,3073,8106,200000,360,1.0,1,1
13,LP001029,1,0,0,1,0,1853,2840,114000,360,1.0,0,0
14,LP001030,1,1,2,1,0,1299,1086,17000,120,1.0,1,1
15,LP001032,1,0,0,1,0,4950,0,125000,360,1.0,1,1
16,LP001034,1,0,1,0,0,3596,0,100000,240,0.0,1,1
17,LP001036,0,0,0,1,0,3510,0,76000,360,0.0,1,0
18,LP001038,1,1,0,0,0,4887,0,133000,360,1.0,0,0
19,LP001041,1,1,0,1,0,2600,3500,115000,342,1.0,1,1

In [28]:
# Diccionario inverso para revertir el mapeo
gender_reverse_map = {'1': 'Male', '0': 'Female'}
married_reverse_map = {'1': 'Yes', '0': 'No'}
education_reverse_map = {'1': 'Graduate', '0': 'Not Graduate'}
self_employed_reverse_map = {'1': 'Yes', '0': 'No'}
property_area_reverse_map = {'1': 'Urban', '0': 'Rural'}
loan_status_reverse_map = {'1': 'Y', '0': 'N'}

# Revertir el mapeo
df['Gender'] = df['Gender'].map(gender_reverse_map)
df['Married'] = df['Married'].map(married_reverse_map)
df['Education'] = df['Education'].map(education_reverse_map)
df['Self_Employed'] = df['Self_Employed'].map(self_employed_reverse_map)
df['Property_Area'] = df['Property_Area'].map(property_area_reverse_map)
df['Loan_Status'] = df['Loan_Status'].map(loan_status_reverse_map)

In [29]:
df.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,146000,360,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128000,360,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66000,360,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120000,360,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141000,360,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267000,360,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95000,360,1.0,Urban,Y
7,LP001014,Male,Yes,4,Graduate,No,3036,2504,158000,360,0.0,NaN,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526,168000,360,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968,349000,360,1.0,NaN,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700,70000,360,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,Yes,2500,1840,109000,360,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106,200000,360,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840,114000,360,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086,17000,120,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0,125000,360,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0,100000,240,0.0,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0,76000,360,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0,133000,360,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,No,2600,3500,115000,342,1.0,Urban,Y

# Por un error en la transformacion de variables categoricas a numericas me salio este error de valores nulos en todas, Les pongo abajo lo que me dijo copilot sobre el error:

Los valores NaN aparecen porque el método .map() asigna NaN a cualquier valor que no esté especificado en el diccionario de mapeo. Esto ocurre si hay valores en las columnas que no coinciden exactamente con las claves del diccionario proporcionado.

Posibles causas:
Valores faltantes (NaN) en las columnas originales: Si las columnas contienen valores faltantes antes de aplicar .map(), estos se mantendrán como NaN después del mapeo.

Errores de formato en los valores: Los valores en las columnas pueden tener espacios adicionales, diferencias en mayúsculas/minúsculas, o caracteres inesperados que no coinciden con las claves del diccionario. Por ejemplo:

' Male' (con un espacio) no coincidirá con 'Male'.
'YES' no coincidirá con 'Yes'.
Valores inesperados: Si hay valores en las columnas que no están contemplados en el diccionario de mapeo, esos valores se convertirán en NaN.

## Lo que hice fue copiar otro dataset llamado 'bank2' para empezar desde el principio

In [30]:
df_2 = pd.read_csv('bank2.csv')

In [51]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    int64
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int64
 8   LoanAmount         614 non-null    int64
 9   Loan_Amount_Term   614 non-null    int64
 10  Credit_History     614 non-null    int64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: int64(6), object(7)
memory usage: 62.5+ KB

In [52]:
df_2.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,146000,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128000,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66000,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120000,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141000,360,1,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267000,360,1,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95000,360,1,Urban,Y
7,LP001014,Male,Yes,4,Graduate,No,3036,2504,158000,360,0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526,168000,360,1,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968,349000,360,1,Semiurban,N

In [32]:
# Identificar porcentaje de valores faltantes e imprimir, calcular proporción de valores en la columna 'Gender' y rellenar valores faltantes
porcentaje_faltantes = df_2['Gender'].isnull().mean() * 100
print(f"Porcentaje de valores faltantes en 'Gender': {porcentaje_faltantes:.2f}%")

# Calcular proporciones de valores en la columna 'Gender'
proporciones = df_2['Gender'].value_counts(normalize=True)
print("Proporciones de valores en 'Gender':")
print(proporciones)

# Rellenar valores faltantes siguiendo la proporción
df_2['Gender'] = df_2['Gender'].fillna(pd.Series(np.random.choice(proporciones.index, p=proporciones.values, size=len(df_2))))

Porcentaje de valores faltantes en 'Gender': 2.12%
Proporciones de valores en 'Gender':
Gender
Male      0.813644
Female    0.186356
Name: proportion, dtype: float64

In [33]:
# Mostrar cuantos valores unicos hay en la columna 'Gender' y cuales son
valores_unicos = df_2['Gender'].unique()
num_valores_unicos = len(valores_unicos)
print(f"Número de valores únicos en Gender: {num_valores_unicos}")
print("Valores únicos en Gender:")
print(valores_unicos)

Número de valores únicos en Gender: 2
Valores únicos en Gender:
['Male' 'Female']

In [35]:
# Identificar numero y porcentaje de valores faltantes e imprimir, calcular proporción de valores en la columna 'Married' y rellenar valores faltantes siguiendo esta proporcion
num_faltantes = df_2['Married'].isnull().sum()
porcentaje_faltantes = df_2['Married'].isnull().mean() * 100
print(f"Número de valores faltantes en 'Married': {num_faltantes}")
print(f"Porcentaje de valores faltantes en 'Married': {porcentaje_faltantes:.2f}%")     
# Calcular proporciones de valores en la columna 'Married'
proporciones = df_2['Married'].value_counts(normalize=True)
print("Proporciones de valores en 'Married':")
print(proporciones) 
# Rellenar valores faltantes siguiendo la proporción
df_2['Married'] = df_2['Married'].fillna(pd.Series(np.random.choice(proporciones.index, p=proporciones.values, size=len(df_2))))    
# Mostrar cuantos valores unicos hay en la columna 'Married' y cuales son
valores_unicos = df_2['Married'].unique()
num_valores_unicos = len(valores_unicos)
print(f"Número de valores únicos en Married: {num_valores_unicos}")
print("Valores únicos en Married:")
print(valores_unicos)

Número de valores faltantes en 'Married': 3
Porcentaje de valores faltantes en 'Married': 0.49%
Proporciones de valores en 'Married':
Married
Yes    0.651391
No     0.348609
Name: proportion, dtype: float64
Número de valores únicos en Married: 2
Valores únicos en Married:
['No' 'Yes']

In [37]:
# Sustituir los valores '3+' de la columna 'Dependents' por el valor 4
df_2['Dependents'] = df_2['Dependents'].replace('3+', 4)
# Encontrar el numero y porcentaje de valores faltantes en la columna 'Dependents', hacer print de estos valores, hallar la proporcion de los valores y rellenar los datos faltantes con esta proporcion, transformar datos de esta columna a int
num_faltantes = df_2['Dependents'].isnull().sum()
porcentaje_faltantes = df_2['Dependents'].isnull().mean() * 100
print(f"Número de valores faltantes en 'Dependents': {num_faltantes}")
print(f"Porcentaje de valores faltantes en 'Dependents': {porcentaje_faltantes:.2f}%")
# Calcular proporciones de valores en la columna 'Dependents'
proporciones = df_2['Dependents'].value_counts(normalize=True)
print("Proporciones de valores en 'Dependents':")
print(proporciones)
# Rellenar valores faltantes siguiendo la proporción
df_2['Dependents'] = df_2['Dependents'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values,
                                                              size=len(df_2))))
# Transformar los valores de la columna 'Dependents' a enteros
df_2['Dependents'] = df_2['Dependents'].astype(int)

Número de valores faltantes en 'Dependents': 15
Porcentaje de valores faltantes en 'Dependents': 2.44%
Proporciones de valores en 'Dependents':
Dependents
0    0.575960
1    0.170284
2    0.168614
4    0.085142
Name: proportion, dtype: float64

In [40]:
# Mostrar los valores unicos de la columna 'Education' y cuantos hay
valores_unicos = df_2['Education'].unique()
num_valores_unicos = len(valores_unicos)
print(f"Número de valores únicos en Education: {num_valores_unicos}")
print("Valores únicos en Education:")
print(valores_unicos)
# Identificar la proporcion de valores en la columna 'Education'
proporciones = df_2['Education'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Education':")
print(proporciones)

Número de valores únicos en Education: 2
Valores únicos en Education:
['Graduate' 'Not Graduate']
Proporciones de valores en 'Education':
Education
Graduate        0.781759
Not Graduate    0.218241
Name: proportion, dtype: float64

In [41]:
# Encontrar el numero y porcentaje de valores faltantes en la columna 'Self_Employed', hacer print de estos valores, hallar la proporcion de los valores y rellenar los datos faltantes con esta proporcion, mostrar los valores unicos de la columna 'Self_Employed' y cuantos hay
num_faltantes = df_2['Self_Employed'].isnull().sum()
porcentaje_faltantes = df_2['Self_Employed'].isnull().mean() * 100
print(f"Número de valores faltantes en 'Self_Employed': {num_faltantes}")
print(f"Porcentaje de valores faltantes en 'Self_Employed': {porcentaje_faltantes:.2f}%")
# Calcular proporciones de valores en la columna 'Self_Employed'
proporciones = df_2['Self_Employed'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Self_Employed':")
print(proporciones)
# Rellenar valores faltantes siguiendo la proporción
df_2['Self_Employed'] = df_2['Self_Employed'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values, 
                                                              size=len(df_2))))
# Mostrar los valores unicos de la columna 'Self_Employed' y cuantos hay
valores_unicos = df_2['Self_Employed'].unique()
num_valores_unicos = len(valores_unicos)
print(f"Número de valores únicos en Self_Employed: {num_valores_unicos}")
print("Valores únicos en Self_Employed:")
print(valores_unicos)

Número de valores faltantes en 'Self_Employed': 32
Porcentaje de valores faltantes en 'Self_Employed': 5.21%
Proporciones de valores en 'Self_Employed':
Self_Employed
No     0.859107
Yes    0.140893
Name: proportion, dtype: float64
Número de valores únicos en Self_Employed: 2
Valores únicos en Self_Employed:
['No' 'Yes']

In [42]:
# Transformar datos de 'CoapplicantIncome' a int
df_2['CoapplicantIncome'] = df_2['CoapplicantIncome'].astype(int)

In [44]:
# Identificar numero y valores faltantes de la columna 'LoanAmount', hacer print de estos valores, hallar la media de los valores y rellenar los datos faltantes con esta proporcion, transformar datos de esta columna a int y multiplicar por 1000
num_faltantes = df_2['LoanAmount'].isnull().sum()
porcentaje_faltantes = df_2['LoanAmount'].isnull().mean() * 100
print(f"Número de valores faltantes en 'LoanAmount': {num_faltantes}")
print(f"Porcentaje de valores faltantes en 'LoanAmount': {porcentaje_faltantes:.2f}%")
# Calcular la media de los valores
media_loan_amount = df_2['LoanAmount'].mean()
print(f"Media de 'LoanAmount': {media_loan_amount:.2f}")
# Rellenar valores faltantes con la media
df_2['LoanAmount'] = df_2['LoanAmount'].fillna(media_loan_amount) 
# Transformar datos de 'LoanAmount' a int
df_2['LoanAmount'] = df_2['LoanAmount'].astype(int) 
# Multiplicar por 1000
df_2['LoanAmount'] = df_2['LoanAmount'] * 1000

Número de valores faltantes en 'LoanAmount': 22
Porcentaje de valores faltantes en 'LoanAmount': 3.58%
Media de 'LoanAmount': 146.41

In [47]:
# Identificar numero y porcentaje de valores faltantes en la columna 'Loan_Amount_Term', hacer print de estos valores, hallar la media de los valores y rellenar los datos faltantes con esta medida, transformar datos de 'Loan_Amount_Term' a int
num_faltantes = df_2['Loan_Amount_Term'].isnull().sum()
porcentaje_faltantes = df_2['Loan_Amount_Term'].isnull().mean() * 100
print(f"Número de valores faltantes en 'Loan_Amount_Term': {num_faltantes}")
print(f"Porcentaje de valores faltantes en 'Loan_Amount_Term': {porcentaje_faltantes:.2f}%")
# Calcular la media de los valores
media_loan_amount_term = df_2['Loan_Amount_Term'].mean()
print(f"Media de 'Loan_Amount_Term': {media_loan_amount_term:.2f}")
# Rellenar valores faltantes con la media
df_2['Loan_Amount_Term'] = df_2['Loan_Amount_Term'].fillna(media_loan_amount_term) 
# Transformar datos de 'Loan_Amount_Term' a int
df_2['Loan_Amount_Term'] = df_2['Loan_Amount_Term'].astype(int)

Número de valores faltantes en 'Loan_Amount_Term': 14
Porcentaje de valores faltantes en 'Loan_Amount_Term': 2.28%
Media de 'Loan_Amount_Term': 342.00

In [53]:
# Identificar el numero y porcentaje de los valores faltantes en la columna 'Credit_History', hacer print de estos valores, hallar la proporcion de los valores y rellenar los datos faltantes con esta proporcion, mostrar los valores unicos de la columna 'Credit_History' y cuantos hay
num_faltantes = df_2['Credit_History'].isnull().sum()
porcentaje_faltantes = df_2['Credit_History'].isnull().mean() * 100
print(f"Número de valores faltantes en 'Credit_History': {num_faltantes}")
print(f"Porcentaje de valores faltantes en 'Credit_History': {porcentaje_faltantes:.2f}%")
proporciones = df_2['Credit_History'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Credit_History':")
print(proporciones)
# Rellenar valores faltantes siguiendo la proporción
df_2['Credit_History'] = df_2['Credit_History'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values,
                                                              size=len(df_2))))
# Mostrar los valores unicos de la columna 'Credit_History' y cuantos hay
valores_unicos = df_2['Credit_History'].unique()
num_valores_unicos = len(valores_unicos)
print(f"Número de valores únicos en Credit_History: {num_valores_unicos}")
print("Valores únicos en Credit_History:")
print(valores_unicos)
# Transformar datos de 'Credit_History' a int
df_2['Credit_History'] = df_2['Credit_History'].astype('int')

Número de valores faltantes en 'Credit_History': 0
Porcentaje de valores faltantes en 'Credit_History': 0.00%
Proporciones de valores en 'Credit_History':
Credit_History
1    0.845277
0    0.154723
Name: proportion, dtype: float64
Número de valores únicos en Credit_History: 2
Valores únicos en Credit_History:
[1 0]

In [54]:
# Valores unicos de la columna 'Property_Area' y cuantos hay
valores_unicos = df_2['Property_Area'].unique()
num_valores_unicos = len(valores_unicos)
print(f"Número de valores únicos en Property_Area: {num_valores_unicos}")
print("Valores únicos en Property_Area:")
print(valores_unicos)
# Valores unicos en la columna 'Loan_Status' y cuantos hay
valores_unicos = df_2['Loan_Status'].unique()      
num_valores_unicos = len(valores_unicos)
print(f"Número de valores únicos en Loan_Status: {num_valores_unicos}")
print("Valores únicos en Loan_Status:")
print(valores_unicos)

Número de valores únicos en Property_Area: 3
Valores únicos en Property_Area:
['Urban' 'Rural' 'Semiurban']
Número de valores únicos en Loan_Status: 2
Valores únicos en Loan_Status:
['Y' 'N']

# DF_2 con datos completos y tipo de datos ajustados

COMMIT AQUI JAJA

In [55]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    int64
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int64
 8   LoanAmount         614 non-null    int64
 9   Loan_Amount_Term   614 non-null    int64
 10  Credit_History     614 non-null    int64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: int64(6), object(7)
memory usage: 62.5+ KB

In [56]:
df_2.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,146000,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128000,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66000,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120000,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141000,360,1,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267000,360,1,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95000,360,1,Urban,Y
7,LP001014,Male,Yes,4,Graduate,No,3036,2504,158000,360,0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526,168000,360,1,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968,349000,360,1,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700,70000,360,1,Urban,Y
11,LP001027,Male,Yes,2,Graduate,Yes,2500,1840,109000,360,1,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106,200000,360,1,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840,114000,360,1,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086,17000,120,1,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0,125000,360,1,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0,100000,240,0,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0,76000,360,0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0,133000,360,1,Rural,N
19,LP001041,Male,Yes,0,Graduate,Yes,2600,3500,115000,342,1,Urban,Y