### PCA PARA CREDITOS BANCARIOS

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [6]:
#leer el dataset
df =pd.read_csv('bank.csv')

In [7]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [9]:
''' En la columna 'Gender' faltan 13 datos
En la columna 'Married' faltan 3 datos
En la columna 'Dependants' faltan 15 datos, y estan en object, hay que pasarlos a int
En la columna 'Self_Employed' faltan 32 datos
En la columna 'ApplicantIncome' hay que pasarlos a float
En la columna 'Credit_History' faltan 50 datos, y estan en float, hay que pasarlos a int
En la columna 'Loan_Amount' faltan 22 datos
En la columna 'Loan_Amount_Term' faltan 14 datos, y estan en object, hay que pasarlos a int
En la columna 'Credit_History' faltan 50 datos, y estan en float, hay que pasarlos a int
'''

" En la columna 'Gender' faltan 13 datos\nEn la columna 'Married' faltan 3 datos\nEn la columna 'Dependants' faltan 15 datos, y estan en object, hay que pasarlos a int\nEn la columna 'Self_Employed' faltan 32 datos\nEn la columna 'ApplicantIncome' hay que pasarlos a float\nEn la columna 'Credit_History' faltan 50 datos, y estan en float, hay que pasarlos a int\nEn la columna 'Loan_Amount' faltan 22 datos\nEn la columna 'Loan_Amount_Term' faltan 14 datos, y estan en object, hay que pasarlos a int\nEn la columna 'Credit_History' faltan 50 datos, y estan en float, hay que pasarlos a int\n"

In [11]:
# Identificar proporción de valores en la columna 'Gender' y rellenar valores faltantes
proporciones = df['Gender'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Gender':")
print(proporciones)

# Rellenar valores faltantes siguiendo la proporción
df['Gender'] = df['Gender'].fillna(pd.Series(np.random.choice(proporciones.index,p=proporciones.values,size=len(df))))

Proporciones de valores en 'Gender':
Gender
Male      0.813644
Female    0.186356
Name: proportion, dtype: float64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [13]:
proporciones = df['Married'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Gender':")
print(proporciones)

# Rellenar valores faltantes siguiendo la proporción
df['Married'] = df['Married'].fillna(pd.Series(np.random.choice(proporciones.index,p=proporciones.values,size=len(df))))

Proporciones de valores en 'Gender':
Married
Yes    0.651391
No     0.348609
Name: proportion, dtype: float64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [17]:
# Sustituir los valores '3+' de la columna 'Dependents' por el valor 4
df['Dependents'] = df['Dependents'].replace('3+', 4)

In [20]:
# Encontrar proporción de valores en la columna 'Dependents' y rellenar valores faltantes siguiendo esta proporcion
proporciones = df['Dependents'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Dependents':")
print(proporciones) 
# Rellenar valores faltantes siguiendo la proporción
df['Dependents'] = df['Dependents'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values, 
                                                              size=len(df))))

Proporciones de valores en 'Dependents':
Dependents
0    0.575960
1    0.170284
2    0.168614
4    0.085142
Name: proportion, dtype: float64

In [23]:
# Transformar los valores de la columna 'Dependents' a enteros
df['Dependents'] = df['Dependents'].astype(int)

In [26]:
# Encontrar la proporcion de valores en la columna 'Education' y rellenar valores faltantes con esta proporcion
proporciones = df['Education'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Education':")
print(proporciones) 
# Rellenar valores faltantes siguiendo la proporción
df['Education'] = df['Education'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values, 
                                                              size=len(df))))

Proporciones de valores en 'Education':
Education
Graduate        0.781759
Not Graduate    0.218241
Name: proportion, dtype: float64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    int64
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int64
 8   LoanAmount         614 non-null    int64
 9   Loan_Amount_Term   614 non-null    int64
 10  Credit_History     614 non-null    object
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: int64(5), object(8)
memory usage: 62.5+ KB

In [28]:
# Encontrar proporcion de valores en la columna 'Self_Employed' y rellenar valores faltantes siguiendo esta proporcion
proporciones = df['Self_Employed'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Self_Employed':")
print(proporciones)
# Rellenar valores faltantes siguiendo la proporción
df['Self_Employed'] = df['Self_Employed'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values, 
                                                              size=len(df))))

Proporciones de valores en 'Self_Employed':
Self_Employed
No     0.859107
Yes    0.140893
Name: proportion, dtype: float64

In [42]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0,146,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
7,LP001014,Male,Yes,4,Graduate,No,3036,2504,158,360,0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N

In [30]:
# Transformar datos de 'CoapplicantIncome' a int
df['CoapplicantIncome'] = df['CoapplicantIncome'].astype(int)

In [34]:
# Encontrar el porcentaje de valores faltantes en la columna 'Loan Amount' print el porcentaje, y rellenar valores faltantes con la media
porcentaje_faltantes = df['LoanAmount'].isnull().mean() * 100
print(f"Porcentaje de valores faltantes en 'LoanAmount': {porcentaje_faltantes:.2f}%")
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mean()) 
# Tranformar datos de 'LoanAmount' a int
df['LoanAmount'] = df['LoanAmount'].astype(int)

Porcentaje de valores faltantes en 'LoanAmount': 0.00%

In [36]:
# Encontrar el porcentaje de valores faltantes en la columna 'Loan_Amount_Term', hacer print de este valor, rellenar valores faltantes con la media y transformar datos a int
porcentaje_faltantes = df['Loan_Amount_Term'].isnull().mean() * 100
print(f"Porcentaje de valores faltantes en 'Loan_Amount_Term': {porcentaje_faltantes:.2f}%")
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean()) 
# Transformar datos de 'Loan_Amount_Term' a int
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].astype(int)

Porcentaje de valores faltantes en 'Loan_Amount_Term': 2.28%

In [40]:
# Encontrar el numero y porcentaje de valores faltantes en la columna 'Credit_History', hacer print de estos valores, hallar la proporcion de los valores y rellenar los datos faltantes con esta proporcion, transformar datos de esta columna a int
num_faltantes = df['Credit_History'].isnull().sum()
porcentaje_faltantes = df['Credit_History'].isnull().mean() * 100
print(f"Número de valores faltantes en 'Credit_History': {num_faltantes}")
print(f"Porcentaje de valores faltantes en 'Credit_History': {porcentaje_faltantes:.2f}%")
proporciones = df['Credit_History'].value_counts(normalize=True)  # Calcular proporciones
print("Proporciones de valores en 'Credit_History':")
print(proporciones)
# Rellenar valores faltantes siguiendo la proporción
df['Credit_History'] = df['Credit_History'].fillna(pd.Series(np.random.choice(proporciones.index, 
                                                              p=proporciones.values,
                                                              size=len(df))))
# Transformar datos de 'Credit_History' a int
df['Credit_History'] = df['Credit_History'].astype('str')

Número de valores faltantes en 'Credit_History': 0
Porcentaje de valores faltantes en 'Credit_History': 0.00%
Proporciones de valores en 'Credit_History':
Credit_History
1    0.846906
0    0.153094
Name: proportion, dtype: float64

In [45]:
# Todos los valores de la columna 'Loan Amount' son miles, multiplicar cada valor por 1000
df['LoanAmount'] = df['LoanAmount'] * 1000

### Dataset completo y tipos de datos ajustados

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    int64
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    int64
 8   LoanAmount         614 non-null    int64
 9   Loan_Amount_Term   614 non-null    int64
 10  Credit_History     614 non-null    object
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: int64(5), object(8)
memory usage: 62.5+ KB

In [61]:
df.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,NaN,NaN,0,NaN,NaN,5849,0,146000,360,1,NaN,NaN
1,LP001003,NaN,NaN,1,NaN,NaN,4583,1508,128000,360,1,NaN,NaN
2,LP001005,NaN,NaN,0,NaN,NaN,3000,0,66000,360,1,NaN,NaN
3,LP001006,NaN,NaN,0,NaN,NaN,2583,2358,120000,360,1,NaN,NaN
4,LP001008,NaN,NaN,0,NaN,NaN,6000,0,141000,360,1,NaN,NaN
5,LP001011,NaN,NaN,2,NaN,NaN,5417,4196,267000,360,1,NaN,NaN
6,LP001013,NaN,NaN,0,NaN,NaN,2333,1516,95000,360,1,NaN,NaN
7,LP001014,NaN,NaN,4,NaN,NaN,3036,2504,158000,360,0,NaN,NaN
8,LP001018,NaN,NaN,2,NaN,NaN,4006,1526,168000,360,1,NaN,NaN
9,LP001020,NaN,NaN,1,NaN,NaN,12841,10968,349000,360,1,NaN,NaN
10,LP001024,NaN,NaN,2,NaN,NaN,3200,700,70000,360,1,NaN,NaN
11,LP001027,NaN,NaN,2,NaN,NaN,2500,1840,109000,360,1,NaN,NaN
12,LP001028,NaN,NaN,2,NaN,NaN,3073,8106,200000,360,1,NaN,NaN
13,LP001029,NaN,NaN,0,NaN,NaN,1853,2840,114000,360,1,NaN,NaN
14,LP001030,NaN,NaN,2,NaN,NaN,1299,1086,17000,120,1,NaN,NaN
15,LP001032,NaN,NaN,0,NaN,NaN,4950,0,125000,360,1,NaN,NaN
16,LP001034,NaN,NaN,1,NaN,NaN,3596,0,100000,240,1,NaN,NaN
17,LP001036,NaN,NaN,0,NaN,NaN,3510,0,76000,360,0,NaN,NaN
18,LP001038,NaN,NaN,0,NaN,NaN,4887,0,133000,360,1,NaN,NaN
19,LP001041,NaN,NaN,0,NaN,NaN,2600,3500,115000,342,1,NaN,NaN

## Vamos ahora a convertir todas las variables categoricas a numericas de acuerdo con el siguiente diccionario:
1. Gender: 'Male" = 1, 'Female' = 0
2. Married : 'Yes' = 1, 'No' = 0
3. Education: 'Graduate' = 1, 'Not Graduate' = 0
4. Self_Employed: 'Yes' = 1, 'No' = 0
5. Property_Area: 'Urban' = 1, 'Rural' = 0
6. Loan_Status: 'Y' = 1, 'N' = 0

In [55]:

df['Gender'] = df['Gender'].map({'Male': '1', 'Female': '0'})
df['Married'] = df['Married'].map({'Yes': '1', 'No': '0'})
df['Education'] = df['Education'].map({'Graduate': '1', 'Not Graduate': '0'})
df['Self_Employed'] = df['Self_Employed'].map({'Yes': '1', 'No': '0'})
df['Property_Area'] = df['Property_Area'].map({'Urban': '1', 'Rural': '0'})
df['Loan_Status'] = df['Loan_Status'].map({'Y': '1', 'N': '0'})

In [56]:
df. head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,NaN,NaN,0,NaN,NaN,5849,0,146000,360,1,NaN,NaN
1,LP001003,NaN,NaN,1,NaN,NaN,4583,1508,128000,360,1,NaN,NaN
2,LP001005,NaN,NaN,0,NaN,NaN,3000,0,66000,360,1,NaN,NaN
3,LP001006,NaN,NaN,0,NaN,NaN,2583,2358,120000,360,1,NaN,NaN
4,LP001008,NaN,NaN,0,NaN,NaN,6000,0,141000,360,1,NaN,NaN
5,LP001011,NaN,NaN,2,NaN,NaN,5417,4196,267000,360,1,NaN,NaN
6,LP001013,NaN,NaN,0,NaN,NaN,2333,1516,95000,360,1,NaN,NaN
7,LP001014,NaN,NaN,4,NaN,NaN,3036,2504,158000,360,0,NaN,NaN
8,LP001018,NaN,NaN,2,NaN,NaN,4006,1526,168000,360,1,NaN,NaN
9,LP001020,NaN,NaN,1,NaN,NaN,12841,10968,349000,360,1,NaN,NaN
10,LP001024,NaN,NaN,2,NaN,NaN,3200,700,70000,360,1,NaN,NaN
11,LP001027,NaN,NaN,2,NaN,NaN,2500,1840,109000,360,1,NaN,NaN
12,LP001028,NaN,NaN,2,NaN,NaN,3073,8106,200000,360,1,NaN,NaN
13,LP001029,NaN,NaN,0,NaN,NaN,1853,2840,114000,360,1,NaN,NaN
14,LP001030,NaN,NaN,2,NaN,NaN,1299,1086,17000,120,1,NaN,NaN
15,LP001032,NaN,NaN,0,NaN,NaN,4950,0,125000,360,1,NaN,NaN
16,LP001034,NaN,NaN,1,NaN,NaN,3596,0,100000,240,1,NaN,NaN
17,LP001036,NaN,NaN,0,NaN,NaN,3510,0,76000,360,0,NaN,NaN
18,LP001038,NaN,NaN,0,NaN,NaN,4887,0,133000,360,1,NaN,NaN
19,LP001041,NaN,NaN,0,NaN,NaN,2600,3500,115000,342,1,NaN,NaN

In [59]:
# Diccionario inverso para revertir el mapeo
gender_reverse_map = {'1': 'Male', '0': 'Female'}
married_reverse_map = {'1': 'Yes', '0': 'No'}
education_reverse_map = {'1': 'Graduate', '0': 'Not Graduate'}
self_employed_reverse_map = {'1': 'Yes', '0': 'No'}
property_area_reverse_map = {'1': 'Urban', '0': 'Rural'}
loan_status_reverse_map = {'1': 'Y', '0': 'N'}

# Revertir el mapeo
df['Gender'] = df['Gender'].map(gender_reverse_map)
df['Married'] = df['Married'].map(married_reverse_map)
df['Education'] = df['Education'].map(education_reverse_map)
df['Self_Employed'] = df['Self_Employed'].map(self_employed_reverse_map)
df['Property_Area'] = df['Property_Area'].map(property_area_reverse_map)
df['Loan_Status'] = df['Loan_Status'].map(loan_status_reverse_map)

In [60]:
df.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,NaN,NaN,0,NaN,NaN,5849,0,146000,360,1,NaN,NaN
1,LP001003,NaN,NaN,1,NaN,NaN,4583,1508,128000,360,1,NaN,NaN
2,LP001005,NaN,NaN,0,NaN,NaN,3000,0,66000,360,1,NaN,NaN
3,LP001006,NaN,NaN,0,NaN,NaN,2583,2358,120000,360,1,NaN,NaN
4,LP001008,NaN,NaN,0,NaN,NaN,6000,0,141000,360,1,NaN,NaN
5,LP001011,NaN,NaN,2,NaN,NaN,5417,4196,267000,360,1,NaN,NaN
6,LP001013,NaN,NaN,0,NaN,NaN,2333,1516,95000,360,1,NaN,NaN
7,LP001014,NaN,NaN,4,NaN,NaN,3036,2504,158000,360,0,NaN,NaN
8,LP001018,NaN,NaN,2,NaN,NaN,4006,1526,168000,360,1,NaN,NaN
9,LP001020,NaN,NaN,1,NaN,NaN,12841,10968,349000,360,1,NaN,NaN
10,LP001024,NaN,NaN,2,NaN,NaN,3200,700,70000,360,1,NaN,NaN
11,LP001027,NaN,NaN,2,NaN,NaN,2500,1840,109000,360,1,NaN,NaN
12,LP001028,NaN,NaN,2,NaN,NaN,3073,8106,200000,360,1,NaN,NaN
13,LP001029,NaN,NaN,0,NaN,NaN,1853,2840,114000,360,1,NaN,NaN
14,LP001030,NaN,NaN,2,NaN,NaN,1299,1086,17000,120,1,NaN,NaN
15,LP001032,NaN,NaN,0,NaN,NaN,4950,0,125000,360,1,NaN,NaN
16,LP001034,NaN,NaN,1,NaN,NaN,3596,0,100000,240,1,NaN,NaN
17,LP001036,NaN,NaN,0,NaN,NaN,3510,0,76000,360,0,NaN,NaN
18,LP001038,NaN,NaN,0,NaN,NaN,4887,0,133000,360,1,NaN,NaN
19,LP001041,NaN,NaN,0,NaN,NaN,2600,3500,115000,342,1,NaN,NaN